[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/bitcoin-spv"]
	path = lib/bitcoin-spv
	url = https://github.com/keep-network/bitcoin-spv
